 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/19deaa90820180263b86bc690315a4c816504b84310a08f454496b64d6690d2049a55469f7b8dd56da404a2724ad418ab807de6455f1bbfd4d72f7_1280.jpg");
  min-height: 661px;
  background-size: 195%;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 16px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 644px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 276px;
  height: 276px;
  background-image: url("images/brand.jpg");
  background-position: 53.42% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 644px;
}

.u-section-1 .u-container-layout-2 {
  padding: 4px 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 208px;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-1 .u-text-2 {
  margin-top: -376px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  margin: 344px auto 0 0;
  padding: 17px 30px 18px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 737px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -490px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 458px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 813px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -566px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 534px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: auto 195%;
    min-height: 884px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin: 49px auto 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 120px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 173px;
    margin-top: -277px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 254px;
    margin-left: 186px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 744px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 88px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -337px;
    margin-right: 98px;
    margin-left: 69px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 330px;
    margin-left: auto;
    margin-bottom: -70px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
} .u-section-2 {
  background-image: url("images/6a86c694502e9499121c863cb59d6dd4c0b9095a0478acf50a8a045fae310c42006ccaac138152c499accd3f768f5511447baa49258e1e7557cf16_1280.jpg");
  background-position: 71.71% 67.77%;
  background-size: 160%;
}

.u-section-2 .u-sheet-1 {
  min-height: 745px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 606px 0 44px 763px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-size: auto 215%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    margin-bottom: 3px;
    margin-left: 563px;
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 343px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-bottom: 42px;
    margin-left: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 129px;
  }
}