 .u-section-1 {
  min-height: 998px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 69px 0;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.55);
  height: 442px;
  margin: 46px 0 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  margin: -442px calc(((100% - 1140px) / 2) + -76px) 60px calc(((100% - 1140px) / 2) + 779px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1109px;
  }

  .u-section-1 .u-text-2 {
    width: 760px;
    margin-left: calc(((100% - 1140px) / 2) + 190px);
    margin-right: calc(((100% - 1140px) / 2) + 190px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -76px);
    margin-left: calc(((100% - 940px) / 2) + 590px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1107px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 248px);
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: -425px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 370px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1337px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 540px) / 2) + 17px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: calc(((100% - 540px) / 2) + 11px);
    margin-left: calc(((100% - 540px) / 2) + -11px);
  }

  .u-section-1 .u-image-1 {
    height: 411px;
    margin-top: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -333px;
    margin-right: calc(((100% - 540px) / 2) + -29px);
    margin-left: calc(((100% - 540px) / 2) + 386px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1542px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 7px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: -269px;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2) + 152px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 880px;
}

.u-section-2 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 38px;
}

.u-section-2 .u-repeater-1 {
  min-height: 740px;
  grid-template-columns: calc(33.3333% - 32px) calc(33.3333% - 32px) calc(33.3333% - 32px);
  grid-gap: 48px 48px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 200px;
  height: 320px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 8px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 27px 21px 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 200px;
  height: 320px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 8px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 27px 21px 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 200px;
  height: 320px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 8px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 27px 21px 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 29px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 598px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 32px));
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1476px;
    grid-template-columns: repeat(2, calc(50% - 24px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1974px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1917px;
  }
}