	* {
		padding: 0;
		margin: 0;
		outline: 0;
		scrollbar-width: auto;
		scrollbar-color: #a0a1ca #dedede;
	}

	/* Scrollbar Styling */
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background-color: #ebebeb;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: #a0a1ca; 
	}

	@keyframes zoom-fade {
		0% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}

		50% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		100% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
	}

	body {

		min-width: 320px;

		color: #000;

		font-family: 'Roboto', sans-serif;

		overflow-x: hidden;

		background: #fff;
	}

	a{
		text-decoration: none;
		color: #111;
		transition: 0.4s ease-in-out;
	}

	a:hover{
		text-decoration: none;
		color: #009F65;

	}

	p{
		font-size: 16px;
		line-height: 30px;
		color: #555;
		margin: 0;
	}

	img{
		max-width: 100%;
		vertical-align: middle;
		height: auto;
	}

	article{
		margin: 0 0 30px 0;
		overflow: hidden;
	}

	figure{
		margin: 0;
	}

	.img-wrap{
		position: relative;
	}

	.img-wrap figure{
		position: relative;

		width: 100%;

		padding-top: 75%;

		margin: 0; 
	}

	.img-wrap figure img{
		position: absolute;

		display: block;

		width: 100%;

		height: 100%;

		left: 0;

		right: 0;

		top: 0;

		bottom: 0;

		margin: 0;

		object-fit: cover;
	}

	.imgp-wrap {

		background: #fff;
		transition: all .5s ease;
		display: block;
		width: 100%;
		position: relative;
		height: 0;
		padding-top: 100%;
		overflow: hidden;

	}

	.imgp-wrap img {

		position: absolute;
		display: block;
		max-width: 100%;
		max-height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;

	}

	.mb-thirty{
		margin-bottom: 30px;
	}

	/*header*/

	header{
		position: relative;
	}

	header:before{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-image: url(../images/header-bg.jpg);
		background-repeat: repeat;
		background-position: center;
		opacity: 0.1;
		background-size: 30%;
	}

	header .container{
		position: relative;
	}

	.head-addres{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.h-add {
		border-left: 5px solid #4C1B0D;
		padding: 5px;
		border-radius: 10px;
		margin: 0 15px 0 0;
	}

	.h-add strong{
		display: block;
		font-size: 28px;
		line-height: 34px;
		margin: 0 0 5px 0;
		letter-spacing: 2px;
	}

	.h-add a{
		font-size: 20px;
	}

	.h-add a i{
		font-size: 14px;
		width: 25px;
		height: 25px;
		text-align: center;
		line-height: 25px;
		background: #4C1B0D;
		color: #fff;
		border-radius: 50%;
		margin: 0 5px 0 0;
	}

	.h-add a:hover{
		color: #4C1B0D;
	}

	.logo-text h1{
	    color: #009F65;
	    font-size: 60px;
	    font-family: 'Noto Sans Devanagari', sans-serif;
	    border-bottom: 2px solid #eee;
	    padding: 0 0 10px 0;
	    margin: 0 0 20px 0;
	}

	.h-add{
	    border: none;
	    display: flex;
	    align-items: center;
	}

	.h-add .icon-wrap {
	    margin: 0 10px 0 0;
	}

	.h-add .icon-wrap i{
	    font-size: 35px;
	    color: #FFB820;
	}

	.h-add a{
	    font-size: 26px;
	    font-weight: 500;
	}

	.social-bar li a i {
		font-size: 20px;
		    color: #fff;
		    margin: 0 0 0 10px;
		    width: 45px;
		    height: 45px;
		    line-height: 45px;
		    text-align: center;
		    transition: 0.4s ease-in-out;
		    border-radius: 0;
		    border-radius: 50%;
		    background: #980000;
		    box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.3);
	}

	.social-bar li a i:hover{
		background: #000;
	}

	.logo-bar{
		padding: 10px 0 0 0;
	}

	.logo-wrap{
		margin: 0 0 10px 0;
		border-radius: 5px;
	}

	.social-bar{
		list-style: none;
		padding: 0;
		text-align: right;
		margin: 0;
	}


	/*nav bar*/

	.nav-sec{
		background: #009F65;
		position: relative;
	}

	.ap-btn a:hover{
		background: #000;
		color: #fff;
	}

	.nav-sec .navbar-collapse{
		justify-content: center;

	}

	.nav-sec .navbar{
		padding: 0;
		position: relative;
	}

	.main-navigation{
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		position: relative;
		z-index: 5;
		justify-content: center;
		background: rgba(255,255,255,0.3);
	}

	.nav-sec .main-navigation .menu-item a{
		padding: 5px 30px;
		color: #fff;
		font-weight: 500;
		text-transform: capitalize;
		transition: 0.4s;
		font-size: 16px;
		position: relative;
		display: block;
		margin: 0 0px;
		line-height: 45px;
	}

	.nav-sec .main-navigation .menu-item.active a, .nav-sec .main-navigation .menu-item a:hover  {
		color: #fff;
		background: #980000;
	}

	.menu-item-has-children{
		position: relative;
	}

	.sub-menu{
		top: 100%;
		left: 0;
		z-index: 1000;
		min-width: 10rem;
		font-size: 1rem;
		color: #0B5D98;
		text-align: left;
		list-style: none;
		border: 1px solid rgba(0,0,0,.15);
		display: none;
		position: absolute;
	}

	.nav-sec .menu-item-has-children .sub-menu {
		margin: 0;
		background: #4C1B0D;
		border-radius: 0;
		padding: 0;
		width: 310px;
	}

	.nav-sec .menu-item-has-children:hover .sub-menu {
		display: block !important;
	}

	.nav-sec .menu-item-has-children .sub-menu a{
		padding: 10px;
		color: #fff;
		font-size: 14px;
		transition: 0.4s ease-in-out;
		text-align: left;
		line-height: 30px;
		border-radius: 0;
	}

	.nav-sec .menu-item-has-children .sub-menu a:hover{
		background: rgba(0,0,0,0.6);
		color: #fff;
	}

	.menu-item-has-children > a::after {
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: .255em;
		vertical-align: .255em;
		content: "";
		border-top: .3em solid;
		border-right: .3em solid transparent;
		border-bottom: 0;
		border-left: .3em solid transparent;
	}


	/*slider section*/

	.slider-bg .top-bar{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		padding: 0;
	}

	.slider-bg .top-bar .h-wrap{
		padding: 0;
	}

	.slide-sec{
		position: relative;
	}

	.slider-wrap .owl-carousel .owl-nav button{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(255,184,32,0.7);
		height: 50px;
		width: 50px;
		z-index: 1;
		margin: 0;
		border-radius: 50px;
		color: #fff;
		transition: 0.4s ease-in-out;
	}

	.slider-wrap .owl-carousel .owl-nav button:hover{
		background: rgba(100, 118, 129,0.7);
	}

	.slider-wrap .owl-carousel .owl-nav button.owl-prev{
		left: 15px;
	}

	.slider-wrap .owl-carousel .owl-nav button.owl-next{
		right: 15px;
	}



	.btn-wrap a{
		color: #fff;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		font-family: "Poppins", sans-serif;
		border-radius: 10px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		padding: 12px 30px;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		z-index: 1;
		overflow: hidden;
		position: relative;
		text-transform: capitalize;
		border: 2px solid #FFB820;
		background: #980000;
	}

	.btn-wrap a:hover{
		border-color: #4C1B0D;
	}

	.slider-wrap .owl-theme .owl-dots .owl-dot{
		display: block;
	}

	#main-slider .owl-dots {
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);
		z-index: 4;
	}

	#main-slider .owl-dots .owl-dot span {
		font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f3ed";
		position: relative;
		color: #000;
		font-size: 18px;
		width: 10px;
		height: 10px;
		background: #333;
		border-radius: 0;
		border: 1px solid #fff;
	}

	#main-slider .owl-dots .owl-dot.active span{
		background: #D12129;
		height: 10px;
		border: 1px solid #fff;
	}

	.slide-img {
		position: relative;
		width: 100%;
		padding-top: 70%;
		margin: 0;
	}

	.slide-img img {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		object-fit: cover;
	}

	.slider-wrap{
		position: relative;
		background: #2d2d2d;
	}

	.slider-wrap .owl-nav{
		margin: 0;
	}

	/*about us section*/

	.about-us{
	    padding: 50px 0;
	    background: rgba(0, 159, 101, 0.1)
	}

	.abt-wrap h3{
	    color: #009F65;
	    font-size: 34px;
	    font-weight: 700;
	    margin: 0 0 20px 0;
	    font-family: 'Noto Sans Devanagari', sans-serif;
	}

	.abt-wrap h3 small{
	    display: block;
	    font-size: 18px;
	    text-transform: uppercase;
	    margin: 0 0 15px 0 ;
	    color: #000;
	    position: relative;
	}

	.abt-wrap h3 small:before{
	    content:"";
	    position: absolute;
	    top: 50%;
	    left: 120px;
	    width: 100px;
	    height: 2px;
	    background: #FFB820;
	    transform: translatey(-50%);
	        
	}

	.abt-wrap p{
	    margin: 0 0 20px 0;
	    font-size: 18px;
	}

	/*products*/

	.products{
	    padding: 50px 0;
	}

	.product-card .imgp-wrap{
	    background: #eee;
	}

	.dtls{
	    padding: 20px;
	    background: #FFF1D2;
	    margin: -20px 20px 20px 20px;
	    position: relative;
	    border-radius: 10px;
	    box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.3);
	}

	.dtls > a{
	    font-size: 20px;
	    text-transform: capitalize;
	    font-weight: 500;
	}

	.dtls p{
	    margin: 0 0 20px 0;
	}

	/*headings*/

	.headings h2{
		display: inline-block;
		margin: 0;
		position: relative;
		text-transform: uppercase;
		font-size: 36px;
		color: #000;
	}

	.headings h2:before{
	    content: "";
	    position: absolute;
	    left: -25px;
	    height: 50px;
	    width: 50px;
	    background-image: url(../images/crops-icon.png);
	    top: -10px;
	    background-size: contain;
	    background-repeat: no-repeat;
	}

	.headings h2 span{
		color: #980000;
	}

	.headings p{
		font-size: 20px;
		text-transform: uppercase;
		color: #7e7e7e;
		letter-spacing: 2px;
		margin: 0 0 15px 0;
	}

	.headings{
		text-align: center;
		margin: 0 0 50px 0;
		position: relative;
	}

	/*footer*/

	footer{
		padding: 50px 0 0 0;
		background: #306700;
	}

	footer{
		position: relative;
	}

	footer:before{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-image: url(../images/footer-bg.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: 0.4;
	}

	footer .container{
		position: relative;
	}

	.f-logo{
		padding: 10px;
		text-align: left;
		margin: 0 0 20px 0;
	}

	.f-logo p{
		color: #eee;
	}

	.foot-wrap h4{
		color: #fff;
		font-size: 18px;
		text-transform: uppercase;
		margin: 0 0 30px 0;
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		border: 2px solid rgba(255,255,255,0.2);
	}

	.foot-wrap h4 .icon-wrap img{
		width: 50px;
		height: 50px;
		background: #fff;
		padding: 5px;
		border-radius: 50%;
		margin: -10px 0 0 0;
	}

	.foot-wrap h4 span{
		position: relative;
		padding: 10px 5px 10px 20px;
		display: inline-block;
	}

	.foot-wrap:hover h4 span:after{
		transform: rotate(20deg);
	}

	.foot-list{
		padding: 0;
		list-style: none;
	}

	.foot-list li{
		margin: 0 0 15px 0;
		padding: 0 0 5px 30px;
		position: relative;
		border-bottom: 1px dotted rgba(255,255,255,0.2);
	}

	.foot-list li:last-of-type{
		border: none;
	}

	.foot-list li:before{
		content: "\e941";
		font-family: 'Material Symbols Outlined';
		color: #826056;
		margin: 0 5px 0 0;
		position: absolute;
		left: 0;
		transition: 0.5s ease-in-out;
	}

	.foot-list li a{
		display: block;
		color: #eee;
		text-transform: capitalize;
		position: relative;
		left: 0;
	}

	.foot-list li a:hover{
		color: #826056;
	}

	.foot-list li:hover:before{
		left: 10px;
		color: #826056;
	}

	footer .social-bar{
		text-align: left;
		margin: 0 0 20px 0;
	}

	.foot-contact{
		padding: 0;
		list-style: none;
	}

	.foot-contact li{
		margin: 0 0 15px 0;;
	}

	.foot-contact li a{
		display: block;
		color: #e9e9e9;
		position: relative;
		left: 0;
		font-size: 20px;
	}

	.foot-contact li a i{
		color: #FFB820;
		margin: 0 5px 0 0;
	}

	.foot-contact li a:hover{
		color: #980000;
	}

	.copy-r{
		border-top: 1px solid #FFB820;
		text-align: center;
		margin-top: 50px;
		position: relative;
	}

	.copy-contn{
		display: flex;
		justify-content: space-between;
		text-transform: capitalize;
		padding: 26px 40px;;
		color: #fff;
	}

	.copy-contn a{
		color: #FFB820;
	}

	.copy-contn a:hover{
		color: #fff;
	}

	.scrollTop {
		position: fixed;
		right: 4%;
		bottom: 55px;
		opacity: 0;
		transition: all 0.4s ease-in-out 0s;
		z-index: 9;
		color: #fff;
	}

	.scrollTop:hover {
		bottom: 65px;
	}

	.scrollTop i {
		color: #fff;
		background-color: #980000;
		height: 40px;
		line-height: 40px;
		width: 40px;
		text-align: center;
		border-radius: 5px;
		transition: 0.4s ease-in-out;
		border-radius: 50%;
	}


	/*about page*/

	.page-banner{
		padding: 80px 0;
		background-image: url(../images/slider-img1.jpg);
		background-size: cover;
		background-position: bottom right;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
	}

	.page-banner:before{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.5);
	}

	.page-banner .top-bar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		padding: 0;
	}

	.banr-wrap {
		text-align: center;
		position: relative;
	}

	.banr-wrap h2{
		color: #fff;
		text-transform: capitalize;
		font-size: 32px;
		font-weight: 500;
		display: inline-block;
		margin: 0;
		padding: 10px 35px;
	}

	/*single page*/

	.single-wrap{
		padding: 50px 0;
	}

	.food-dtl h3{
		text-transform: capitalize;
		color: #326603;
	}

	.f-price strong{
		display: inline-block;
		background: #326603;
		padding: 5px 10px;
		color: #fff;
		margin: 0 0 10px 0;
		font-size: 20px;
	}

	.food-dtl p{
		margin: 0 0 20px 0;

	}

	.ingrednt{
		padding: 0;
		list-style: none;
		border-top: 1px solid #eee;
		padding: 10px 0;
	}

	.ingrednt h4{
		font-size: 20px;
	}

	.ingrednt li{
		margin: 0 0 10px 0;
		color: #826056
	}

	.ingrednt li:before{
		content: "- ";
	}


	/*contact page*/

	.contact-wrap{
		padding: 50px 0;
	}

	.contact-text h4{
		color: #2d2d2d;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.contact-text p{
		margin: 0 0 20px 0;
	}

	.contact-text .pckg-form{
		background: none;
		padding: 0;
	}

	.contact-text .pckg-form .form-wrap h4{
		color: #777;
	}

	.contact-list{
		padding: 30px 0;
		list-style: none;
		margin: 0;
	}

	.contact-list li{
		width: 46%;
		display: inline-block;
		padding: 15px 10px 15px 0;
		margin: 0 10px 10px 0;
		border-bottom: 1px solid #eee;
	}

	.contact-list li:nth-last-child(-n+2){
		border: none;
	}

	.contact-list li .cl-wrap{
		display: flex;
		justify-content: space-between;
	}

	.book-form{
		padding: 50px;
		background-image: url(assets_front/images/high-bg.jpg);
		background-repeat: repeat;
		position: relative;
	}

	.contact-box{
		padding: 30px;
		margin: 0 0 40px 0;
		border: 1px solid #306700;
		transition: 0.4s ease-in-out;
		display: flex;
		align-items: center;
		min-height: 152px;
	}

	.contact-box .icon-wrap span{
		height: 50px;
		width: 50px;
		line-height: 50px;
		background: #980000;
		text-align: center;
		color: #fff;
		border-radius: 50px;
	}

	.contact-box .icon-wrap{
		margin: 0 10px 0 0;
	}

	.contact-dtl a{
		display: block;
		font-weight: 500;
		color: #999;
		font-size: 22px;
	}

	.contact-dtl a:hover{
		color: #4C1B0D;
	}

	.contact-dtl a i{
		font-size: 16px;
		margin: 0 5px 0 0;
		color: #826056;
	}

	.contact-dtl strong{
		font-size: 16px;
	}

	.form-wrap {
		position: relative;
	}